*{box-sizing: border-box; margin:0;
padding: 0;
}

.nav{
background: rgb(135, 180, 135);
}

.nav-link{color: rgb(114, 116, 114);
font-size: 1.5em;
}

.navbar-brand{
color: honeydew;
font-size:3em;
}

.btn{ 
    float:right;
}